.followings-users {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    max-width: 630px;
    width: 100%;
    overflow-x: auto;
    padding: 0;
    margin-bottom: 20px;

    li {
        margin: 0 8px;
    }
    
    @include mobile-layout {
        margin-bottom: 0;
    }

    
}