nav {
    
    ul {    
        list-style: none;
        padding: 0 12px 0 1px;
        align-items: center;
        margin-top: 0;

        li {
            padding: 0px 0 0px 2px;
            margin: 3px 0 8px;
            height: 48px;
            display: flex;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 8px;

                svg {
                    transform: scale(105%);
                }
            }

            & > a, & > div { 
                align-items: center;
                display: flex;
                margin: 10px;
                
                &:hover {
                    text-decoration: none;
                }

                svg {
                    margin-right: 17px;
                }

                &.avatar {
                    margin-left: 8px;
                }
            }

            & > span {
                margin: auto 0 auto 3px;
            }
        }

        &.bottom {
            position: fixed;
            bottom: 0;
            width: 234.2px;

            li {
                div.active {
                    svg, span {
                        font-weight: 700;
                    }
                }
            }

            @media screen and (max-height: 615px) {  
                display: none;
            }
        }
    }

    @include mobile-layout {
        grid-column: 2;
        background-color: var(--mobile-nav-background);
        z-index: 1000;
        width: 100%;
        
        ul {
            list-style: none;
            display: flex;
            overflow-x: auto;
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                padding: 0;
                height: auto;

                a {
                    svg {
                        margin: 0;
                    }

                    .avatar {
                        margin-bottom: 3px;
                    }
                }
            }
        
            & > li {
                display: flex;
                align-items: center;

                span {
                    display: none;
                }
            }
        }
       
        &.header {
            width: fit-content;
            justify-self: end;

            ul {
                width: fit-content;
                justify-content: space-between;

                li.header-mobile {
                    display: inline;
                }
            }
        }
        
        &.footer {
            position: fixed;
            left: 0;
            bottom: 0;

            ul {
                width: 100%;
                justify-content: space-between;

                li.footer-mobile {
                    display: inline;
                }
            }
        }
    }    
}

.menu-more-options {
    width: 266px;
    min-width: auto;
    min-height: 200px;
    max-height: max-content;
    position: absolute;
    top: auto;
    bottom: 56px;
    left: 10px;
    transform: translate(-50%, -50%);
    margin: 20px auto; 
    -webkit-box-shadow: 0 0 0 100vmax var(--overlay-background);
    box-shadow: 0 4px 12px rgba(black,.15);
    transform: translate(0%, 0%);
    border-radius: 12px;
    z-index: 5;
    background-color: var(--modal-background);
    display: grid;
    overflow: hidden;
    
    ul {
        list-style: none;
        padding: 0;
        align-items: center;
        margin: 6px 0 0;
        
        li {
            padding: 0px 0 0px 13px;
            margin: 3px 8px 8px;
            height: 48px;
            display: flex;
            cursor: pointer;
            background-color: white;

            a {
                margin: auto 0;
                display: inline-flex;

                &:hover
                {
                    text-decoration: none;
                }                    
            }

            svg {
                margin: auto 12px auto 0;
            }

            span {
                @include text('small');
                margin: auto 0;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                cursor: pointer;

                svg {
                    transform: scale(105%);
                }
            }

            &.separetor {
                background-color: rgba(219, 219, 219,.3);
                height: 6px;
                margin: 3px 0 8px;
            }
    
            &.handle {  
                display: none;
            }   
        }

        
    }

    @include mobile-layout {
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1000;
        margin: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0 0 0 100vmax var(--overlay-background);
        
        ul {
            display: block;

            li {
                &:hover {
                    background-color: transparent;
                    cursor: default;
    
                    svg {
                        transform: scale(100%);
                    }
                }

                &.separetor {
                    height: 2px;
                }

                &.handle {       
                    height: 4px;
                    margin: 10px 0 0;
                    display: flex;

                    hr {
                        width: 28px;
                        background-color: #737373;
                        height: 3px;
                        border: none;
                        margin: 10px auto;
                        border-radius: 4px;
                    }
                    
                }

                & span {
                    display: block;
                }
            }
        }

        &.showing {
            -webkit-animation: slide-from-bottom 0.3s forwards;
            animation: slide-from-bottom 0.3s forwards;   
            display: inline; 
        }
    
        &.hiding {
            -webkit-animation: slide-to-bottom 0.3s forwards;
            animation: slide-to-bottom 0.3s forwards;    
        }

        
    }
}

